body {
    font-family: 'Roboto', sans-serif; /* Przykładowa czcionka z Material Design */
    margin: 0;
    background-color: #c9c4be;
}

/* Menu */
.menu {
    background-color: #0b1717;
    color: #c9c4be;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    height: 40px; /* Dostosuj wysokość loga */
    margin-right: 10px; /* Odstęp między logo a tekstem */
    vertical-align: middle; /* Wyrównaj logo w pionie */
}

.logo {
    font-weight: bold;
    text-decoration: none;
    color: #c9c4be;
}

.menu-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-items li {
    margin-left: 2em;
}

.menu-items a {
    text-decoration: none;
    color: #c9c4be;
}

/* Przycisk menu dla urządzeń mobilnych */
#menu-toggle {
    display: none;
}

.menu-icon {
    cursor: pointer;
    display: none;
}

/* Responsywność - menu mobilne */
@media screen and (max-width: 768px) {
    .menu-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #0b1717;
        width: 200px;
    }

    .menu-items li {
        margin: 0;
        padding: 1em;
        border-bottom: 1px solid #333;
    }

    #menu-toggle:checked ~ .menu-items {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}

#slider {
    position: relative;
    width: 100%;
    height: 300px; /* Ustaw wysokość slidera */
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 0; /* Początkowo ukryj slajdy */
    background-blend-mode: overlay; /* Włącz mieszanie tła */
    /* background-color: rgba(11, 23, 23, 0.6); /* Przyciemnienie z kolorem #0b1717 i przezroczystością 30% */
    background-color: rgba(201, 196, 190, 0.6); /* Przyciemnienie z kolorem #0b1717 i przezroczystością 30% */
    
}

.slide.active {
    opacity: 1; /* Pokaż aktywny slajd */
}

.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #0b1717; /* Ustaw kolor tekstu */
}

.section-title {
    text-align: center;
    margin-bottom: 2em;
}


/* USŁUGI */
.services-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    padding: 1%; /* Dodajemy padding do grida */
}

.service {
    width: 32%; 
    margin-bottom: 0; /* Usuwamy margines */
    padding-bottom: 32%; 
    background-size: cover;
    background-position: center;
    position: relative; 
    overflow: hidden; /* Ukrywamy wszystko co wychodzi poza kafelek */
    border-radius: 10px; /* Dodajemy zaokrąglone rogi */
}

.service-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 1em;
    text-align: center;
}

.service:hover {
    transform: scale(1.1); /* Powiększenie kafelka po najechaniu */
    transition: transform 0.3s ease; /* Płynne przejście */
}

/* Style dla popup'a */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    overflow-y: auto; /* Dodajemy przewijanie, jeśli zawartość jest zbyt długa */
}

.popup-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Dodajemy cień dla lepszego efektu */
}

body.popup-open {
    overflow: hidden; /* Zapobiega przewijaniu strony, gdy popup jest otwarty */
}

.popup-content {
    max-height: 80vh; /* Maksymalna wysokość popupu */
    overflow-y: auto; /* Dodaje przewijanie do zawartości popupu, jeśli jest zbyt długa */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}


/* CENNIK */
.price-table {
    width: 80%;
    margin: 2em auto;
    border-collapse: collapse;
}

.price-table th,
.price-table td {
    border: 1px solid #ddd;
    padding: 1em;
    text-align: left;
}

.price-table th {
    background-color: #f5f5f5;
}


/* Kontakt */

.contact-info {
    text-align: center;
    margin-top: 2em;
}

.contact-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2em;
}

.contact-option {
    text-align: center;
    margin-bottom: 2em;
    cursor: pointer;
}

.contact-icon {
    font-size: 3em;
    color: #deaa19;
}

/* Style formularza w popup'ie */
#contact-form-popup .form-group {
    margin-bottom: 1em;
}

#contact-form-popup label {
    display: block;
    margin-bottom: 0.5em;
}

#contact-form-popup input,
#contact-form-popup textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    box-sizing: border-box;
}